body {
  background-color: #C9E3E3;
  min-height: 100vh;
}

.App {
  max-width: 35rem;
}

nav {
  margin-bottom: 2rem;
}

nav svg {
  margin: 1rem auto;
}

.tabs {
  padding: 0 1rem;
}

.tabs ul {
  border-color: white;
}

.tabs a {
  border-bottom-color: white;
}

.tabs a.is-active {
  border-bottom: 1px solid black;
}

.posts-list,
.post-detail,
.comments {
  padding: 0 1rem;
}

.post-detail > .post > .box > .media {
  min-height: 9rem;
}

.posts-list h2 {
  margin: 0;
}

.posts-list .level-right .button {
  margin-left: 0.5rem;
}

.post {
  margin: 0 0 1rem;
}

.post h3,
.post h1 {
  margin: 0 0 0.1em 0;
}

.post .votes,
.comment .votes {
  min-width: 3rem;
  text-align: center;
  font-family: monospace;
  position: relative
}

.post .votes span,
.comment .votes span {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(0, 82, 70, 0.3);
  display: inline-block;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.post .votes .button,
.comment .votes .button {
  border-radius: 1em;
  font-size: 0.5em;
  width: 2.2em;
}

.post .votes .button:first-child,
.comment .votes .button:first-child {
  position: relative;
  bottom: -1.5em;
}

.post .votes .button:last-child,
.comment .votes .button:last-child {
  position: relative;
  top: -1em;
}

.post,
.comment {
  position: relative;
}

.post .box,
.comment .box {
  border-radius: 10px;
}

.post .delete,
.comment .delete {
  position: absolute;
  top: -0.001rem;
  right: -0.001rem;
  display: none;
}

.post:hover .delete,
.comment:hover .delete {
  display: inline-block;
}

.post a p {
  margin: 0 0 1rem;
}

.post a p,
.post a p:hover {
  color: #363636;
}

.post .tags .tag {
  margin-right: 0.5rem;
}

.media {
  align-items: stretch;
}

.media-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comments .comment {
  margin-top: 1rem;
  padding: 0 2rem;
}

.button.is-primary {
  background-color: rgba(0, 82, 70, 0.3);
}

.new-comment {
  margin: 1rem 0 0;
}

@media (min-width: 46rem) {
  .post-detail {
    margin: 0 -6rem;
  }

  .comments .comment {
    padding: 0;
  }
}
