body {
  background-color: #C9E3E3;
  min-height: 100vh;
}

.App {
  max-width: 35rem;
}

nav {
  margin-bottom: 2rem;
}

nav svg {
  margin: 1rem auto;
}

.tabs {
  padding: 0 1rem;
}

.tabs ul {
  border-color: white;
}

.tabs a {
  border-bottom-color: white;
}

.tabs a.is-active {
  border-bottom: 1px solid black;
}

.posts-list {
  padding: 0 1rem;
}

.posts-list h2 {
  margin: 0;
}

.posts-list .level-right .button {
  margin-left: 0.5rem;
}

.post-listing h3 {
  margin: 0 0 0.1em 0;
}

.post-listing a p {
  margin: 0 0 1rem;
}

.post-listing a p,
.post-listing a p:hover {
  color: #363636;
}

.post-listing .tags .tag {
  margin-right: 0.5rem;
}